<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Checkout\LayoutProcessor" type="Arpatech\CityDropdown\Block\Checkout\LayoutProcessor" />

    <!-- City Dropdown Grid -->
    <virtualType name="Arpatech\CityDropdown\Model\ResourceModel\CityDropdown\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">arpatech_city</argument>
            <argument name="resourceModel" xsi:type="string">Arpatech\CityDropdown\Model\ResourceModel\CityDropdown\Collection</argument>
        </arguments>
    </virtualType>
    <!-- City Dropdown Grid Ends -->

    <!-- Register Data Source Handle -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="citydropdown_listing_data_source" xsi:type="string">Arpatech\CityDropdown\Model\ResourceModel\CityDropdown\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\ShippingMethodManagement">
        <plugin name="arpatech_cityropdown_getShippingMethods" type="Arpatech\CityDropdown\Plugin\Quote\Model\ShippingMethodManagement" sortOrder="1"/>
    </type>
    <!--<type name="Magento\Checkout\Model\ShippingInformationManagement">-->
        <!--<plugin name="arpatech_cityropdown_getPaymentMethods" type="Arpatech\CityDropdown\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>-->
    <!--</type>-->
</config>